a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: Palatino,Georgia,"Times New Roman",serif;
  font-size: 14px;
  line-height: 150%;
}

strong {
  font-family: Palatino,Georgia,"Times New Roman",serif;
  font-size: 14px;
}

heading {
  font-family: Palatino,Georgia,"Times New Roman",serif;
  font-size: 22px;
  margin-bottom: 50px;
}

subheading {
  font-family: Palatino,Georgia,"Times New Roman",serif;
  font-size: 18px;
  margin-bottom: 50px;
  text-decoration:underline;
}

.heading-div {
  margin-bottom: 10px;
}

papertitle {
  font-family: Palatino,Georgia,"Times New Roman",serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: Palatino,Georgia,"Times New Roman",serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.badge-pdf {
  background-color: #EF959C;
  color: white;
}

.badge-code {
  background-color: #788fac;
  color: white;
}

.badge-bibtex {
  background-color: #DBC7BE;
  color: white;
  cursor: pointer;
}

.collapsible-card-div {
  background-color: #eeeeee;
  padding: 10px;
  max-width: 650px;
  overflow: auto;
  line-height: normal;
  margin-left: 1.25rem;
}

.collapsible-card-div > .card-body {
  font-size: 12px;
  padding: 1rem;
  line-height: 1rem;
}

p.pub-details {
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}
